ootstrap.servers={{ip_int_node}}:9092
zookeeper.connect={{ip_int_node}}:2181
confluent.controlcenter.data.dir=/var/lib/confluent/control-center
confluent.controlcenter.connect.connect-cluster.cluster=http://{{ip_int_node}}:8083
confluent.controlcenter.ksql.ksql-cluster.url=http://{{ip_int_node}}:8088
confluent.controlcenter.schema.registry.url=http://{{ip_int_node}}:8081
schema.registry.url=http://{{ip_int_node}}:8081
confluent.controlcenter.streams.cprest.url=http://{{ip_int_node}}:8090
confluent.controlcenter.internal.topics.replication=1
confluent.controlcenter.internal.topics.partitions=1
confluent.controlcenter.command.topic.replication=1
confluent.controlcenter.ui.autoupdate.enable=true
confluent.controlcenter.usage.data.collection.enable=true
confluent.controlcenter.ui.controller.chart.enable=true
confluent.monitoring.interceptor.topic.partitions=1
confluent.monitoring.interceptor.topic.replication=1
confluent.metrics.topic.partitions=1
confluent.metrics.topic.replication=1
confluent.controlcenter.streams.num.stream.threads=2
