id=kafka-rest-test-server
schema.registry.url=http://{{use_hostname}}:8081
zookeeper.connect={{use_hostname}}:2181
bootstrap.servers=PLAINTEXT://{{use_hostname}}:9092
consumer.interceptor.classes=io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor
producer.interceptor.classes=io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor
