{ "name": "redis-sink-json", "config": { "connector.class":"com.redis.kafka.connect.RedisSinkConnector", "tasks.max":"1", "topics":"pageviews", "redis.uri":"redis://{{lookup('file', './temp/redis_external_endpoint.txt')}}:{{lookup('file', './temp/redis_port.txt')}}", "redis.password":"{{lookup('file', './temp/redis_password.txt')}}", "redis.command":"JSONSET", "redis.type":"JSON", "key.converter": "org.apache.kafka.connect.json.JsonConverter", "value.converter": "org.apache.kafka.connect.storage.StringConverter", "value.converter.schemas.enable": "false", "transforms": "Cast", "transforms.Cast.type": "org.apache.kafka.connect.transforms.Cast$Key", "transforms.Cast.spec": "string" } }
