listeners=http://{{ip_int_node}}:8081
kafkastore.bootstrap.servers=PLAINTEXT://{{ip_int_node}}:9092
kafkastore.topic=_schemas
debug=false
metadata.encoder.secret=REPLACE_ME_WITH_HIGH_ENTROPY_STRING
resource.extension.class=io.confluent.dekregistry.DekRegistryResourceExtension
